{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/maghaleha.css' %}">
    <link rel="stylesheet" href="{% static 'css/doreha.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div class="topVideos">
            <h2>مقاله های برگزیده</h2>
            
            <div class="carousel">
                <div class="carousel__control rightBtn">
                    <button class="carousel__btn carousel__btn--next"><i class="fa-solid fa-angle-right"></i></button>
                    
                    
                </div>
                <div class="carousel__cards">
                    {% for post in promote_posts %}
                        <div class="carousel__card">
                            <div class="topVideosThumbnail carousel__img">
                                <div class="videoHeader">
                                    <img src="{% get_media_prefix %}{{post.image}}" alt="{{post.title}}">
                                </div>
                                <div class="videoTags">
                                    <div class="head">
                                        <p>{{post.category.title}}</p>
                                    </div>
                                    <i class="fa-solid fa-circle-play"></i>
                                    <h3>{{post.title}}</h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            
                </div>
                <div class="carousel__control leftBtn">
                    
                <button class="carousel__btn carousel__btn--back"><i class="fa-solid fa-angle-left"></i></button>
                
                </div>
            </div>
            
        
        </div>

        <div class="container all">
            <h3>مقاله ها</h3>
            <div class="selections">
                <ul class="selectionHeading" id="grouping">
                    <li onclick="showGroupingDropDown()">دسته بندی <i class="fa-solid fa-angle-down" id="groupingAngle"></i></i></li>
                    <ul class="dropDown" id="dropDown">
                        {% for category in categotories %}
                            <li><a href="?category={{category.id}}&ordering={{request.GET.ordering}}">{{category.title}}</a></li>
                        {% endfor %} 
                    </ul>
                </ul>
                <ul class="selectionHeading" id="sorting">
                    <li onclick="showsortingDropDown()">ترتیب دوره ها<i class="fa-solid fa-angle-down" id="sortingAngle"></i></i></li>
                    <ul class="dropDown" id="sortingDropDown">
                        <li><a href="?ordering=-id{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">جدیدترین ها</a></li>
                        <li><a href="?ordering=id{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">قدیمی ترین ها</a></li>
                        <li><a href="?ordering=-buy_counter{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">پرفروش ترین ها</a></li>
                    </ul>
                </ul>
            </div>

            
            {% for post in page_obj %}
                {% if forloop.counter0|divisibleby:"4" %}
                    <div class="containerInside allTutorials">
                {% endif %}
                <a href="{% url 'post-detail' post.id %}">
                    <div class="topVideosThumbnail">
                        <div class="videoHeader">
                            <img src="{% get_media_prefix %}{{post.image}}" alt="{{post.title}}">
                        </div>
                        <div class="videoTags">
                            <div class="head">
                                <p>{{post.category.title}}</p>
                            </div>
                            <i class="fa-solid fa-circle-play"></i>
                            <h3>{{post.title}}</h3>
                            <h4>{{post.auhtor.full_name}}</h4>
                        </div>
                    </div>
                </a>
                {% if forloop.counter0|add:"1"|divisibleby:"4" or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
            

            <div class="pages mb-5">
                {% if page_obj.has_previous %}
                    <a href="?ordering={{request.GET.ordering}}&page=1{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">&laquo; صفحه اول</a>
                    <a href="?ordering={{request.GET.ordering}}&page={{ page_obj.previous_page_number }}{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">صفحه قبلی</a>
                {% endif %}
                <span class="current">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?ordering={{request.GET.ordering}}&page={{ page_obj.next_page_number }}{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">صفحه بعدی</a>
                    <a href="?ordering={{request.GET.ordering}}&page={{ page_obj.paginator.num_pages }}{% if request.GET.category %}&category={{request.GET.category}}{% endif %}">صفحه آخر &raquo;</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}

{% block page_js %}
    {{block.super}}
    <script>
        let groupingCounter = 0
        const showGroupingDropDown = () => {
            if(groupingCounter == 0){
                document.getElementById('dropDown').style.visibility = "visible";
                document.getElementById('grouping').style.borderRadius = "20px 20px 0 0";
                document.getElementById('groupingAngle').style.transform = "rotate(180deg)";
                groupingCounter++;
                return;
            }
            if(groupingCounter == 1){
                document.getElementById('dropDown').style.visibility = "hidden";
                document.getElementById('grouping').style.borderRadius = "20px";
                document.getElementById('groupingAngle').style.transform = "rotate(0deg)";
                groupingCounter--;
                return;
            }
        }

        let sortingCounter = 0
        const showsortingDropDown = () => {
            if(sortingCounter == 0){
                document.getElementById('sortingDropDown').style.visibility = "visible";
                document.getElementById('sorting').style.borderRadius = "20px 20px 0 0";
                document.getElementById('sortingAngle').style.transform = "rotate(180deg)";
                sortingCounter++;
                return;
            }
            if(sortingCounter == 1){
                document.getElementById('sortingDropDown').style.visibility = "hidden";
                document.getElementById('sorting').style.borderRadius = "20px";
                document.getElementById('sortingAngle').style.transform = "rotate(0deg)";
                sortingCounter--;
                return;
            }
        }
    </script>
{% endblock %}