
form{
    flex-direction: column;
    padding: 0 7em;
    text-align: left;
    direction: ltr;
    /* width: 50%; */
    
}
form h2{
    font-size: 2rem;
    
    color: #3D8835;
}
form input{
    width: 100%;
    height: 2.8em;
    background-color: #FBF9FB;
    box-shadow: 0 1px 4px #3D8835;
    border: none;
    margin-bottom: 1.5em;
    border-radius: 10px;
    font-family: 'Kalameh';
    font-size: 1.2rem;
    padding-right: 1em;
    z-index: 1;
}
.register input:hover{
    box-shadow: 0 3px 7px #3D8835;
}
.security{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    
    height: auto;
    padding: 0;
}
.securityInput{
    
    display: flex;
}
.securityInput{
    width: 60%;
    
}
.security input{
    width: 100%;
}
.changeIcon{
    background-color: transparent;
    height: 2.8em;
    width: 2em;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -2em;
    cursor: pointer;
    color: #606061;
    
}

.security .securityCode{
    width: 35%;
    height: 2.8em;
    background-color: #FBF9FB;
    box-shadow: 0 1px 4px #3D8835;
    font-size: 1.2rem;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    transition: all 100ms;
}
form button{
    /* width: 35%; */
    border: none;
    font-size: 1.5rem;
    padding: 0;
    height: 2.2em;
    background-color: #FF9919;
    border-radius: 10px;
    cursor: pointer;
    color: #FBF9FB;
    transition: all 100ms;
    z-index: 2;
}
.register button:hover{
    background-color: #3D8835;
    
}
.loginSide h2{
    color: #88153E;
}
.loginSide input{
    box-shadow: 0 1px 4px #88153E;
    transition: all 100ms;
}
.loginSide input:hover{
    box-shadow: 0 3px 7px #88153E;
}
.loginSide .securityCode{
    box-shadow: 0 1px 4px #88153E;
}


.loginSide button:hover{
    background-color: #88153E;
}



footer{
    background-color: #212529;
    height: auto;
    display: flex;
    flex-direction: column;
}
.columns{
    display: flex;
    flex-direction: row;
    
}
.columns h3{
    color: green;
    font-size: 1.5rem;
}
.companyLogo{
    width: 25%;
    height: 100%;
   
}
.companyLogo img:first-of-type{
    padding: 0;
    margin: 0;
    transform: scale(1.5);
    margin-left: 0.4em;
    margin-bottom: 0.5em;
    height: 200px;
    width: 100%;
    transform: scale(2);
    margin-bottom: -3em;
    margin-top: 1em;
}
.companyLogo img:last-of-type{
    padding: 0;
    margin: 0;
    transform: scale(1);
    height: 180px;
    width: 105%;
}
.about{
    width: 25%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.contactUs{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contactUs .socialIcons{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.socialIcons img{
    width: 18%;
}

.brownBackground:hover{
    background-color: brown;
    transition: background-color 100ms;
}
.greenBackgroundIcon:hover{
    background-color: green;
    transition: background-color 100ms;
}
.iconRows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
    
}
.iconRows img{
    background-color: lightgray;
    margin: 0 0.5em 0em 0.2em;
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.iconRows img:first-of-type{
    margin-left: 1em;
}
.licens{
    width: 25%;
    display: flex;
    flex-direction: column;
    
}

.licensImages{
    display: flex;
    flex-direction: column;
}
.licensImages img{
    border-radius: 10px;
    transform: scale(1);
}
.upperLicens{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.copyRights{
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3em;
}
.copyRights p{
    font-size: 1.1rem;
}




.socialBtn{
    height: 65px;
    width: 65px;
    border: 5px solid #FBF9FB;
    background-color: #FBF9FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 40px;
    position: fixed;
    bottom: 2em;
    left: 3em;
    transition: all 200ms;
}
.socials{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 100ms;
    margin: 0.5em;
}
.socials:hover{
    transform: scale(1.1);
}
.instagram{
    display: none;
}
.instagram img{
    width: 100%;
}

.telegram{
    width: 50px;
    display: none;
}
.telegram img{
    width: 100%;
}





@media (max-width: 800px){
    .hamburgerBtn{
        visibility: visible;
    }
    
    .logoCircle{
        transform: scale(0.7);
        margin-left: auto;
        margin-right: auto;
        margin-top: -1.6em;
    }
    .typeLogo{
        right: 1.2em;
        height: 15px;
        transform: scale(1.3);
        position: sticky;
        top: 0;
    }
    nav ul{
        display: none;
    }
    .loginBtn{
        display: none;
    }
    .hamburgerBtn{
        display: flex;
        margin-top: 0.3em;
    }
    main{
        flex-direction: column;
    }
    form{
        width: 100vw;
        
    }
    form button{
        width: 100%;
    }
    .security{
        width: 100%;
    }
    .security .securityCode{
        left: 0px;
        width: 25%;
    }
    .securityCode input{
        width: 100%;
    } 
    
    form input{
        width: 100%;
    }
    





    footer{
        height: auto;
    }
    .columns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .companyLogo{
        width: 50%;
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .contactUs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: 4em;
    }
    .contactUs h3{
        margin-left: 0;
    }
    .socialIcons img{
        transform: scale(0.8);
    }
    .licensImages img{
        transform: scale(0.8);
    }
    .copyRights{
        margin-top: -2em;
    }
}

input[type="file"] {
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border-radius: 0px;
}