{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <script src="{% static 'js/all.js' %}"></script>
        {% block page_css%}
            <link rel="stylesheet" href="{% static 'css/style.css'%}">
        {% endblock %}
        <title>{% block page_title%} Mahpen | مهپن {% endblock %}</title>
        <style>
            .logoImage img {
                position: absolute;
                top: -12.5em;
                left: -6.5em;
            }

            .conceptsRow p {
                font-weight: 800;
            }

            .slider {
                margin-top: 1em;
            }

            .logoCircle {
                width: 200px;
                height: 100px;
                background-color: #FBF9FB;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                box-shadow: 1px 12px 10px 2px #888888;
                margin-right: 3em;
                display: flex;
                justify-content: center;
                margin-top: -50px;
            }
        </style>
    </head>

    <body>

        {% block message_show %}
        {% for message in messages %}
        <div style="margin-bottom: 0; border-radius: 0;" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endblock message_show %}

        {% block header %}
            <header>
                <div class="hamburgerBtn" onclick="openHamburger()">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="hamberMenu">
                    <div class="close">
                        <div class="closeBtn" onclick="closeHamburger()">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="hamberLists">
                        <ul>
                            <li class="firstPage" onclick="openSubMenu()"><a href="/">محتواها</a>
                                {% if categotories %}
                                    {% for category in categotories %}
                                    <li class="verticalSubMenu"><a href="{% url 'category-detail' category.id %}">{{category.title}}</a></li>
                                    {% endfor %}
                                {% endif %}
                            </li>
                            <li><a href="{% url 'course-list' %}">دوره های اموزشی</a></li>
                            <li><a href="{% url 'video-list' %}">ویدئوها</a></li>
                        </ul>
                    </div>
                </div>
                <div class="headerLogo">
                    <div class="typeLogo">
                        <a href="/">
                            <img src="{% static 'images/logotypefa.svg' %}" alt="logotypeen">
                        </a>
                    </div>
                    
                    
                </div>
                <nav class="topNav">
                    <ul>
                        <li class="safeNokhost" onmouseover="showSubMenu()" onmouseout="hideSubMenu()"><a href="/">محتواها</a>
                            {% if categotories %}
                                <div class="horizentalSubMenu">
                                    <ul>
                                        {% for category in categotories %}
                                        <li><a href="{% url 'category-detail' category.id %}">{{category.title}}</a></li>
                                        {% endfor %}
                                    </ul>  
                                </div>
                            {% endif %} 
                        </li>
                        <li><a href="{% url 'course-list' %}">دوره های اموزشی</a></li>
                        <li><a href="{% url 'video-list' %}">ویدئوها</a></li>
                    </ul>
                </nav>

                {% if user.is_authenticated %}
                        <div class="shoppingIcon">
                            <div>
                                <p></p>
                            <a style="color: black;" href="{% url 'card-detail' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                        </div>
                {% endif %}
                <div class="login">
                    <div class="loginBtn">
                        {% if user.is_authenticated %}
                            <a href="{% url 'user-profile' %}">{{user.full_name}}</a>
                            <a href="{% url 'user-log-out' %}"><img width="32px" height="32px" src="{% static 'images/logout.svg' %}" alt="خارج شدن از حساب کاربری"></a>
                        {% else %}
                            <a href="{% url 'user-login' %}">ورود / عضویت</a>
                            <a href="{% url 'user-login' %}"><img src="{% static 'images/user.svg' %}" alt="ورود / عضویت"></a>
                        {% endif %}
                    </div>
                    
                </div>
                
            </header>
            <div class="logoCircle">
                <div class="logoImage">
                    <img src="{% static 'images/logo.svg' %}" alt="logo">
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="columns pt-5">
                    <div class="companyLogo">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                        <img src="{% static 'images/logotypeen.svg' %}" alt="logotypeen">
                    </div>
                    <div class="about">
                        <h3>مهبن چیست ؟</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                    <div class="contactUs">
                        <h3>ارتباط با ما</h3>
                        <div class="socialIcons">
                            <div class="iconRows">
                                <img src="{% static 'images/phone.svg' %}" alt="phone" class="brownBackground">
                                <img src="{% static 'images/location.svg' %}" alt="location" class="greenBackgroundIcon">
                            </div>
                            <div class="iconRows">
                                <img src="{% static 'images/email.svg' %}" alt="email" class="greenBackgroundIcon">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram" class="brownBackground">   
                            </div>
                            <div class="iconRows">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="whatsapp" class="brownBackground">
                                <img src="{% static 'images/telegram.svg' %}" alt="telegram" class="greenBackgroundIcon"> 
                            </div>
                        </div>
                    </div>
                    <div class="licens">
                        <h3>مجوزها</h3>
                        <div class="licensImages">
                            <div class="upperLicens">
                                
                                <img src="{% static 'images/enamadsmall.png' %}" alt="enamadsmall">
                                <img src="{% static 'images/etehadie.png' %}" alt="etehadie">
                            </div>
                            <div>
                            <img src="{% static 'images/sabt.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="copyRights pb-4 mt-1">
                    <p>تمام حقوق مادی و معنوی این وبسایت متعلق به مهبن میباشد.</p>
                    {% comment %} <i class="fa-solid fa-copyright"></i> {% endcomment %}
                </div>
            </footer>
        {% endblock %}

        <div class="socialBtn" onmouseover="showAllSocialMedias()" onmouseleave="hideSocialMedias()" id="socialBtn">
            <div class="socials instagram" id="instagram">
                <a href="https://insta.com"><img src="{% static 'images/insta.svg' %}" alt="insta"></a>
            </div>
            <div class="socials telegram" id="telegram">
                <a href="https://telegram.com"><img src="{% static 'images/tele.svg' %}" alt="telegram"></a>
            </div>
            <div class="socials whatsapp">
                <a href="https://whatsapp.com"><img src="{% static 'images/whats.svg' %}" alt="whatsapp"></a>
            </div>
        </div>

        {% block page_js %}
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}


    </body>
</html>