{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.js" integrity="sha512-TsDUjQW16/G8fz4gmgTOBW2s2Oi6TPUtQ6/hm+TxZZdkQtQrK5xEFIE0rgDuz5Cl1xQU1u3Yer7K5IuuBeiCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block page-css%}
            <link rel="stylesheet" href="{% static 'css/style.css'%}">
        {% endblock %}
        <title>{% block page-title%} First Page Content {% endblock %}</title>
    </head>

    <body>

        {% block header %}
            <header>
                <div class="hamburgerBtn" onclick="openHamburger()">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="hamberMenu">
                    <div class="close">
                        <div class="closeBtn" onclick="closeHamburger()">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="hamberLists">
                        <ul>
                            <li class="firstPage" onclick="openSubMenu()"><a href="#">صفحه نخست</a>
                                <li class="verticalSubMenu"><a href="#">زاه اندازی کسب و کار</a></li>
                                <li class="verticalSubMenu"><a href="#">بازاریابی</a></li>
                                <li class="verticalSubMenu"><a href="#">فروش</a></li>
                                <li class="verticalSubMenu"><a href="#">مدیریت و رهبری</a></li>
                                <li class="verticalSubMenu"><a href="#">برندینگ</a></li>
                            </li>
                            <li><a href="#">دوره های اموزشی</a></li>
                            <li><a href="#">نظرات</a></li>
                        </ul>
                    </div>
                </div>
                <div class="headerLogo">
                    <div class="typeLogo">
                        <img src="{% static 'images/logotypefa.svg' %}" alt="logotypeen">
                    </div>
                    
                    
                </div>
                <nav class="topNav">
                    <ul>
                        <li class="safeNokhost" onmouseover="showSubMenu()" onmouseout="hideSubMenu()"><a href="#">صفحه نخست</a>
                                <div class="horizentalSubMenu">
                                    <ul>
                                        <li><a href="#">زاه اندازی کسب و کار</a></li>
                                        <li><a href="#">بازاریابی</a></li>
                                        <li><a href="#">فروش</a></li>
                                        <li><a href="#">مدیریت و رهبری</a></li>
                                        <li><a href="#">برندینگ</a></li>  
                                    </ul>  
                                </div>
                        </li>
                        <li><a href="#">دوره های اموزشی</a></li>
                        <li><a href="#">نظرات</a></li>
                    </ul>
                </nav>
                <div class="login">
                    <div class="loginBtn">
                        <a href="#">ورود / عضویت</a>
                        <img src="{% static 'images/user.svg' %}" alt="">
                    </div>
                    
                </div>
                
            </header>
            <div class="logoCircle">
                <div class="logoImage">
                    <img src="{% static 'images/logo.svg' %}" alt="logo">
                </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer>
                <div class="columns">
                    <div class="companyLogo">
                        <img src="{% static 'images/logo.svg' %}" alt="logo">
                        <img src="{% static 'images/logotypeen.svg' %}" alt="logotypeen">
                    </div>
                    <div class="about">
                        <h3>مهبن چیست ؟</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                    <div class="contactUs">
                        <h3>ارتباط با ما</h3>
                        <div class="socialIcons">
                            <div class="iconRows">
                                <img src="{% static 'images/phone.svg' %}" alt="phone" class="brownBackground">
                                <img src="{% static 'images/location.svg' %}" alt="location" class="greenBackgroundIcon">
                            </div>
                            <div class="iconRows">
                                <img src="{% static 'images/email.svg' %}" alt="email" class="greenBackgroundIcon">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram" class="brownBackground">   
                            </div>
                            <div class="iconRows">
                                <img src="{% static 'images/whatsapp.svg' %}" alt="whatsapp" class="brownBackground">
                                <img src="{% static 'images/telegram.svg' %}" alt="telegram" class="greenBackgroundIcon"> 
                            </div>
                        </div>
                    </div>
                    <div class="licens">
                        <h3>مجوزها</h3>
                        <div class="licensImages">
                            <div class="upperLicens">
                                
                                <img src="{% static 'images/enamadsmall.png' %}" alt="enamadsmall">
                                <img src="{% static 'images/etehadie.png' %}" alt="etehadie">
                            </div>
                            <div>
                            <img src="{% static 'images/sabt.png' %}" alt="">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="copyRights">
                    <p>تمام حقوق مادی و معنوی این وبسایت متعلق به مهبن میباشد.</p>
                    <i class="fa-solid fa-copyright"></i>
                </div>
            </footer>
        {% endblock %}

        <div class="socialBtn" onmouseover="showAllSocialMedias()" onmouseleave="hideSocialMedias()" id="socialBtn">
            <div class="socials instagram" id="instagram">
                <img src="{% static 'images/insta.svg' %}" alt="insta">
            </div>
            <div class="socials telegram" id="telegram">
                <img src="{% static 'images/tele.svg' %}" alt="telegram">
            </div>
            <div class="socials whatsapp">
                <img src="{% static 'images/whats.svg' %}" alt="whatsapp">
            </div>
        </div>

        {% block page-js %}
            <script src="{% static 'js/main.js' %}"></script>
        {% endblock %}


    </body>
</html>