<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.js" integrity="sha512-TsDUjQW16/G8fz4gmgTOBW2s2Oi6TPUtQ6/hm+TxZZdkQtQrK5xEFIE0rgDuz5Cl1xQU1u3Yer7K5IuuBeiCqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="video.css">
    <title>Video</title>
</head>
<body>
    <header>
        <div class="hamburgerBtn" onclick="openHamburger()">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="hamberMenu">
            <div class="close">
                <div class="closeBtn" onclick="closeHamburger()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="hamberLists">
                <ul>
                    <li class="firstPage" onclick="openSubMenu()"><a href="#">صفحه نخست</a>
                        <li class="verticalSubMenu"><a href="#">راه اندازی کسب و کار</a></li>
                        <li class="verticalSubMenu"><a href="#">بازاریابی</a></li>
                        <li class="verticalSubMenu"><a href="#">فروش</a></li>
                        <li class="verticalSubMenu"><a href="#">مدیریت و رهبری</a></li>
                        <li class="verticalSubMenu"><a href="#">برندینگ</a></li>
                    </li>
                    <li><a href="#">دوره های اموزشی</a></li>
                    <li><a href="#">نظرات</a></li>
                </ul>
            </div>
        </div>
        <div class="headerLogo">
            <div class="typeLogo">
                <img src="logotypefa.svg" alt="logotypeen">
            </div>
            
            
        </div>
        <nav class="topNav">
            <ul>
                <li class="safeNokhost" onmouseover="showSubMenu()" onmouseout="hideSubMenu()"><a href="#">صفحه نخست</a>
                        <div class="horizentalSubMenu">
                            <ul>
                                <li><a href="#">زاه اندازی کسب و کار</a></li>
                                <li><a href="#">بازاریابی</a></li>
                                <li><a href="#">فروش</a></li>
                                <li><a href="#">مدیریت و رهبری</a></li>
                                <li><a href="#">برندینگ</a></li>  
                            </ul>  
                        </div>
                </li>
                <li><a href="#">دوره های اموزشی</a></li>
                <li><a href="#">نظرات</a></li>
            </ul>
        </nav>
        <div class="shoppingIcon">
            <div class="addToCartIcon" id="addToCartIcon">
                <p id="addedProducts"></p>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            
        </div>
        <div class="login">
            <div class="loginBtn">
                <a href="#">ورود / عضویت</a>
                <img src="user.svg" alt="user">
            </div>
        </div>
        
    </header>
    <div class="logoCircle">
        <div class="logoImage">
            <img src="logo.svg" alt="logo">
        </div>
    </div>




    <main>
        <div class="container video">
            <h1>عنوان ویدیو</h1>
            <div class="videoHolder">
                <video controls>
                    <source src="" type="">
                </video>
            </div>
            <div class="videoTags">
                <h3>گوینده</h3>
                <p>0000/00/00</p>
            </div>
        </div>
        <div class="videoCaption">
            <h4>توضیحات ویدیو</h4>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

        </div>
        <div class="relatedVideos">
            <h4>ویدیو های مرتبط</h4>
            <div class="relatedVideosRow">
                <div class="videoThumbnail">
                    <div class="thumbnailHeading">
                        <img src="person.jpg" alt="person">
                        <p>دسته بندی</p>
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                    <div class="thumbnailCaption">
                        <h5>عنوان ویدیو در یک سطر</h5>
                        <h6>نام گوینده</h6>
                    </div>
                </div>
                <div class="videoThumbnail">
                    <div class="thumbnailHeading">
                        <img src="person.jpg" alt="person">
                        <p>دسته بندی</p>
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                    <div class="thumbnailCaption">
                        <h5>عنوان ویدیو در یک سطر</h5>
                        <h6>نام گوینده</h6>
                    </div>
                </div>
                <div class="videoThumbnail">
                    <div class="thumbnailHeading">
                        <img src="person.jpg" alt="person">
                        <p>دسته بندی</p>
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                    <div class="thumbnailCaption">
                        <h5>عنوان ویدیو در یک سطر</h5>
                        <h6>نام گوینده</h6>
                    </div>
                </div>
                <div class="videoThumbnail">
                    <div class="thumbnailHeading">
                        <img src="person.jpg" alt="person">
                        <p>دسته بندی</p>
                        <i class="fa-solid fa-circle-play"></i>
                    </div>
                    <div class="thumbnailCaption">
                        <h5>عنوان ویدیو در یک سطر</h5>
                        <h6>نام گوینده</h6>
                    </div>
                </div>
            </div>
            
        </div>








        <div class="socialBtn" onmouseover="showAllSocialMedias()" onmouseleave="hideSocialMedias()" id="socialBtn">
            <div class="socials instagram" id="instagram">
                <img src="insta.svg" alt="insta">
            </div>
            <div class="socials telegram" id="telegram">
                <img src="tele.svg" alt="insta">
            </div>
            <div class="socials whatsapp">
                <img src="whats.svg" alt="insta">
            </div>
        </div>
    </main>






    <footer>
        <div class="columns">
            <div class="companyLogo">
                <img src="logo.svg" alt="logo">
                <img src="logotypeen.svg" alt="logotypeen">
            </div>
            <div class="about">
                <h3>مهبن چیست ؟</h3>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
            </div>
            <div class="contactUs">
                <h3>ارتباط با ما</h3>
                <div class="socialIcons">
                    <div class="iconRows">
                        <img src="phone.svg" alt="phone" class="brownBackground">
                        <img src="location.svg" alt="location" class="greenBackgroundIcon">
                    </div>
                    <div class="iconRows">
                        <img src="email.svg" alt="email" class="greenBackgroundIcon">
                        <img src="instagram.svg" alt="instagram" class="brownBackground">   
                    </div>
                    <div class="iconRows">
                        <img src="whatsapp.svg" alt="whatsapp" class="brownBackground">
                        <img src="telegram.svg" alt="telegram" class="greenBackgroundIcon"> 
                    </div>
                </div>
            </div>
            <div class="licens">
                <h3>مجوزها</h3>
                <div class="licensImages">
                    <div class="upperLicens">
                        <img src="enamadsmall.png" alt="enamadsmall">
                        <img src="etehadie.png" alt="etehadie">
                    </div>
                    <div>
                    <img src="sabt.png" alt="sabt">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="copyRights">
            <p>تمام حقوق مادی و معنوی این وبسایت متعلق به مهبن میباشد.</p>
            <i class="fa-solid fa-copyright"></i>
        </div>
    </footer>











<script src="video.js"></script>
</body>
</html>