@font-face{
    font-family: "Kalameh";
    src: url(Kalameh-Regular.ttf) format('truetype');
}
body{
    padding: 0;
    margin: 0;
    
}
*{
    box-sizing: border-box;
    font-family: 'Kalameh';
}
header{
    width: 1s0vw;
    height: 25vh;
    background-color: #FBF9FB;
    box-shadow: 1px 8px 10px 2px #888888;
    z-index: 0;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    justify-content: end;
}
.headerLogo{
    width: 33%;
    position: relative;    
}

.typeLogo{
    
    height: 100%;
    position: absolute;
    width: 50%;
    left: 0;
    
}
.typeLogo img{
    width: 100%;
    margin-top: 0em;
    position: absolute;
    
    bottom: -2.9em;
}

header nav{
    
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    margin-top: 2em;
}
nav ul li{
    transition: all 100ms;
    padding: 1.5em;
    margin: 0.3em;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
nav ul li:hover{
    transform: scale(1.1);
    margin-top: 5px;
    font-weight: bold;
}
.shoppingIcon{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
    margin-left: -3.5em;
    z-index: 1;
}
.fa-cart-shopping{
    cursor: pointer;
    padding: 0;
    padding-top: 0.2em;
    margin: 0;
}
.shoppingIcon p{
    padding: 0;
    margin: 0;
    
}
.addToCartIcon{
    width: 100%;
    display: flex;
    padding: 0.5em 1em;
    border-radius: 5px;
}
.shoppingIcon div:hover{
    transform: scale(1.3);
}
.login{
    
    width: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}
.loginBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    
}
.loginBtn:hover{
    transform: scale(1.1);
    transition: all 200ms;
    font-weight: bold;
}
.loginBtn img{
    margin-right: 1em;
}

.hamburgerBtn{
    height: 50px;
    width: 50px;
    margin: 0;
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.hamburgerBtn:hover{
    cursor: pointer;
}
.hamberMenu{
    background-color: #606061;
    z-index: 1;
    height: 100vh;
    transition: all 300ms;
    overflow: hidden;
    display: none;
    width: 350px;
}
.hamberMenu ul{
    list-style-type: none;
    
    padding: 0;
}
.hamberMenu ul li{
    width: 100%;
    padding: 1em ;
}
.hamberMenu ul li:hover{
    background-color: #212529;
    cursor: pointer;
}
.hamberMenu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.verticalSubMenu{
    background-color:#212529;
    display: none;
}

.subMenu a{
    padding-right: 1em;
}
.safeNokhost{
    position: relative;
}
.horizentalSubMenu{
    position: absolute;
    width: auto;
    background-color: white;
    height: auto;
    box-shadow: 1px 12px 10px 2px #888888;
    border-radius: 10px;
    display: none;
    flex-direction: column;
}
.horizentalSubMenu ul{
    padding: 0 1em;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.horizentalSubMenu li{
    padding: 0em 2em;
    font-weight: 300;
}
.horizentalSubMenu li:hover{
    font-weight: 900;
}
.closeBtn{
    color: white;
    padding: 0.5em 1em;
    font-size: 1.8rem;
}
.logoCircle{
    width: 300px;
    height: 150px; /* as the half of the width */
    background-color: #FBF9FB;
    border-bottom-left-radius: 200px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 200px; /* 100px of height + 10px of border */
    box-shadow: 1px 12px 10px 2px #888888;
    margin-right: 3em;
    display: flex;
    justify-content: center;
}
.logoImage{
    
    width: 700px;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
} 
.logoImage img{
    width: 220%;
    position: absolute;
    top: -18.5em;
    left: -10em;
    
}
.topVideos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topVideos h2{
    margin-bottom: -1.5em;
    font-size: 1.7rem;
    color: #88153E;
}
.topVideosHolder{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    
    
    overflow: hidden;
}
.topVideosThumbnail{
    width: 16rem;
    height: 15rem;
    background-color: transparent;
    position: relative;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 1px rgb(80, 80, 80);
    
}

.videoHeader{
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 100%;
    
}
.videoHeader img{
    width: 100%;
    padding: 0;
    height: 100%;
    border-radius: 20px;
}
.videoTags{
    
    margin: 0;
    position: absolute;
    top: 0;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.head{
    position: relative;
    width: 100%;
    
}
.videoTags p{
    padding: 0.3em 0.5em;
    margin: 0;
    
    border-top-right-radius: 20px;
    background-color: rgba(85, 85, 85, 0.5);
    color: white;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
}
.fa-circle-play{
    position: absolute;
    top: 45%;
    color: #E03874;
}
.videoTags h3{
    color: #3D8835;
    width: 100%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0 0 13px 13px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    
}
.videoTags h4{
    padding: 0.5em 5px;
    
    border-radius: 0 0 20px 20px;
    margin-top: 10em;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}








.carousel {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    perspective: 100rem;
    min-width: 100px;
  }
  .carousel__cards {
    position: relative;
    width: 21rem;
    height: 15rem;
    transform-style: preserve-3d;
    transform: translateZ(-25rem);
    transition: transform 0.3s ease-in;
    border-radius: 20px;
    
    
  }
  .carousel__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
  }
  .carousel__card {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid white;
    border-radius: 0.2rem;
    font-size: 3em;
    font-weight: 700;
    background-color: white;
    width: 21.6rem;
    padding: 0 0.2em;
    
    
  }
  .carousel__card:nth-child(1) {
    transform: rotateY(0deg) translateZ(26rem);
    
  }
  .carousel__card:nth-child(2) {
    transform: rotateY(45deg) translateZ(26rem);
  }
  .carousel__card:nth-child(3) {
    transform: rotateY(90deg) translateZ(26rem);
  }
  .carousel__card:nth-child(4) {
    transform: rotateY(135deg) translateZ(26rem);
    
  }
  .carousel__card:nth-child(5) {
    transform: rotateY(180deg) translateZ(26rem);
    
  }
  .carousel__card:nth-child(6) {
    transform: rotateY(225deg) translateZ(26rem);
  }
  .carousel__card:nth-child(7) {
    transform: rotateY(270deg) translateZ(26rem);
  }
  .carousel__card:nth-child(8) {
    transform: rotateY(315deg) translateZ(26rem);
  }


  .carousel__btn {
    outline: none;
    border: none;
    border-radius: 0.2rem;
    
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    
  }
  .rightBtn{
      margin-right: 10em;
  }
  .leftBtn{
      margin-left: 10em;
  }
  .carousel__btn:hover {
    transform: scale(1.04);
    
  }
  

  .fa-angle-right, .fa-angle-left{
      color: #888888;
      font-size: 2rem;
      
  }









  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2em;
}





  .all h3{
    color: #3D8835;
    font-size: 1.8rem;
    background-color: #ffffff;
    justify-content: flex-start;
    margin-bottom: 1em;
    padding-right: 5px;
}
.all .fa-circle-play{
    font-size: 2.5rem;
    top: 28%;
}
.all p{
    font-size: 1.2rem;
}
.containerInside{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1em;
    
}


  .product{
    width: 250px;
    height: 200px;
    background-color: #adadad;
    box-shadow: 0px 2px 3px 2px rgb(151, 151, 151);
    border-radius: 20px;
    position: relative;
}
.heading p{
    position: absolute;
    top: 0;
    left: 0;
    
    color: white;
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.heading p:first-of-type{
    top: 0;
    left: 0;
    background-color: #212529;
    border-top-left-radius: 20px;
    height: 2em;
    width: 5em;
}
.heading img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.percent{
    background-color: #FF9919;
    position: absolute;
    right: 0;
    height: 3em;
    width: 5em;
    border-top-right-radius: 20px;
}
.dontShow{
    visibility: hidden;
}
.productCaption{
    background-color: white;
    border-radius: 0 0 20px 20px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.nameAndPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.productCaption h4{
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    margin-bottom: 0em;
}
.nameAndPrice p{
    padding: 0;
    margin: 0;
}
.teacherName:first-of-type{
    font-size: 1rem;
}
.prices{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.prices p:first-of-type{
    color: #88153E;
    font-size: 0.9rem;
    text-decoration: line-through;
}
.prices p:last-of-type{
    color: #3D8835;
    font-size: 1.2rem;
}
.allTutorials{
    z-index: -1;
}

.selectionHeading{
    box-shadow: 1px 2px 10px 2px #888888;
    list-style-type: none;
    width: 210px;
    height: 50px;
    z-index: 1;
    padding: 0;
    border-radius: 20px;
}
.dropDown{
    list-style-type: none;
    z-index: 1;
    background-color: white;
    padding: 0;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 8px 10px 2px #888888;
    
    visibility: hidden;
    
}
.selections{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    width: 33vw;
}
.selectionHeading li{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 0.5em;
    height: 100%;
    cursor: pointer;
}
.dropDown li{
    font-size: 1.2rem;
    padding-right: 1em;
    
}
.dropDown li:hover{
    transform: scale(1.1);
    padding-right: 1.5em;
    transition: all 200ms;
}
.fa-angle-down{
    color: #888888;
    cursor: pointer;
    transition: all 150ms;
}
.fa-angle-down:hover{
    
    transform: scale(1.2);
    
    
}
.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.pages a{
    text-decoration: none;
    color: #606061;
    margin: 0 0.5em;
}
.pages p{
    color: #606061;
}


.containerInside .videoTags h3{
    position: absolute;
    bottom: 0;
    
}






.socialBtn{
    height: 65px;
    width: 65px;
    border: 5px solid #FBF9FB;
    background-color: #FBF9FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 8px #888888;
    border-radius: 40px;
    position: fixed;
    bottom: 2em;
    left: 3em;
    transition: all 200ms;
}
.socials{
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 100ms;
    margin: 0.5em;
}
.socials:hover{
    transform: scale(1.1);
}
.instagram{
    display: none;
}
.instagram img{
    width: 100%;
}

.telegram{
    width: 50px;
    display: none;
}
.telegram img{
    width: 100%;
}








footer{
    background-color: #212529;
    height: auto;
    display: flex;
    flex-direction: column;
}
.columns{
    display: flex;
    flex-direction: row;
    
}
.columns h3{
    color: green;
    font-size: 1.5rem;
}
.companyLogo{
    width: 25%;
    height: 100%;
   
}
.companyLogo img:first-of-type{
    padding: 0;
    margin: 0;
    transform: scale(1.5);
    margin-left: 0.4em;
    margin-bottom: 0.5em;
    height: 200px;
    width: 100%;
    transform: scale(2);
    margin-bottom: -3em;
    margin-top: 1em;
}
.companyLogo img:last-of-type{
    padding: 0;
    margin: 0;
    transform: scale(1);
    height: 180px;
    width: 105%;
}
.about{
    width: 25%;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.contactUs{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contactUs .socialIcons{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.socialIcons img{
    width: 18%;
}

.brownBackground:hover{
    background-color: brown;
    transition: background-color 100ms;
}
.greenBackgroundIcon:hover{
    background-color: green;
    transition: background-color 100ms;
}
.iconRows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
    
}
.iconRows img{
    background-color: lightgray;
    margin: 0 0.5em 0em 0.2em;
    border-radius: 5px;
    height: 60px;
    width: 60px;
}
.iconRows img:first-of-type{
    margin-left: 1em;
}
.licens{
    width: 25%;
    display: flex;
    flex-direction: column;
    
}

.licensImages{
    display: flex;
    flex-direction: column;
}
.licensImages img{
    border-radius: 10px;
    transform: scale(1);
}
.upperLicens{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.copyRights{
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3em;
}
.copyRights p{
    font-size: 1.1rem;
}





@media (max-width: 1300px){
    .topVideosThumbnail{
        margin-bottom: 0em;
        transform: scale(0.9);
    }
    .topVideos{
        width: 80vw;
        
        margin: 0 auto;
    }
    .carousel__card{
        width: 22rem;
        height: 15rem;
    }
}




@media (max-width: 800px){
    .hamburgerBtn{
        visibility: visible;
    }
    
    .logoCircle{
        transform: scale(0.7);
        margin-left: auto;
        margin-right: auto;
        margin-top: -1.6em;
    }
    .typeLogo{
        right: 1.2em;
        height: 15px;
        transform: scale(1.3);
        position: sticky;
        top: 0;
    }
    nav ul{
        display: none;
    }
    .loginBtn{
        display: none;
    }
    .hamburgerBtn{
        display: flex;
        margin-top: 0.3em;
    }
    .shoppingIcon{
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1em;
        margin-left: -7em;
    }
    .carousel{
        flex-direction: column;
        margin: 0;
    }
    .rightBtn{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .leftBtn{
        position: absolute;
        bottom: 0;
        left: 0;
        
    }
    .carousel__cards{
        transform: scale(0.4);
    }
    .carousel__card{
        width: 22rem;
        height: 15rem;
    }






    .containerInside{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }
    .product{
        margin-bottom: 1em;
    }
    .selections{
        width: 80vw;
    }
    .selectionHeading{
        margin-left: 10px;
        font-size: 0.9rem;
        width: 200px;
    }
    



    footer{
        height: auto;
    }
    .columns{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .companyLogo{
        width: 50%;
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .contactUs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-left: 4em;
    }
    .contactUs h3{
        margin-left: 0;
    }
    .socialIcons img{
        transform: scale(0.8);
    }
    .licensImages img{
        transform: scale(0.8);
    }
    .copyRights{
        margin-top: -2em;
    }
}