{% extends 'blog/base.html' %}
{% load static %}
{% block page_title%} Mahpen | Login {% endblock %}
{% block page-css%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/sign_up.css'%}">
{% endblock %}

{% block content %}

<div class="mt-5 mb-5 container">
    
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    
    <form method="post" action="{% url 'user-login' %}">
        {% if form.errors %}
        <div class="alert alert-danger m-2">
            <strong>نام کاربری یا رمز عبور شما نادرست است، لطفا دوباره تلاش کنید .</strong>
        </div>
        {% endif %}
        {% csrf_token %}
        <div class="fieldWrapper p-2">
            {{ form.username.label_tag }} {{ form.username }}
            {% if form.username.help_text %}
                <p class="help">{{ form.username.help_text|safe }}</p>
            {% endif %}
        </div>
        <div class="fieldWrapper p-2">
            {{ form.password.label_tag }} {{ form.password }}
            {% if form.password.help_text %}
                <p class="help">{{ form.password.help_text|safe }}</p>
            {% endif %}
        </div>
        
        <div class="p-2"><input class="btn btn-primary" type="submit" value="ثبت"></div>
        <input type="hidden" name="next" value="{{ next }}">
        <div class="text-align-center p-2">
                <p>حساب کاربری ندارید ؟ <a style="text-decoration: none;" href="{% url 'user-sign-up' %}">ایجاد حساب کاربری</a></p>
            </div>
    </form>

</div>


{# Assumes you set up the password_reset view in your URLconf #}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}