{% extends 'blog/base.html' %}
{% load static %}
{% block page_title%} Mahpen | SignUp {% endblock %}
{% block page-css%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/sign_up.css'%}">
{% endblock %}

{% comment %} {% block content %}
    <main>
        <form action="" class="register">
            <h2>عضویت</h2>
            <input type="text" placeholder="نام:*    " name="registerName" id="registerName" required>
            <input type="text" placeholder="نام خانوادگی:*" name="registerLastName" id="registerLastName" required>
            <input type="text" placeholder="رمز عبور:*" name="registerPassword" id="registerPassword" required>
            <input type="text" placeholder="تکرار رمز عبور:*" name="repeatRegisterPassword" id="repeatRegisterPassword" required>
            <input type="text" placeholder="ایمیل:*" name="registerEmail" id="registerEmail" required>
            <input type="text" placeholder="شملره تماس:*" name="registerNumber" id="registerNumber" required>
            <div class="security">
                <div class="securityInput">
                    <input type="text" placeholder="کد امنیتی:*" name="registerCode" id="name" required>
                    <div class="changeIcon" onclick="changeRegisterCode()">
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                </div>
                
                <div class="securityCode" id="registerSecurityCode"></div>
            </div>
            <button onclick="registerFunction()">عضویت</button>
        </form>
        
        
        <form action="" class="loginSide">
            <h2>ورود</h2>
            <input type="text" placeholder="ایمیل:*" name="loginEmail" id="loginEmail" required>
            <input type="text" placeholder="رمز عبور:*" name="loginPassword" id="loginPassword" required>
            
            <div class="security">
                <div class="securityInput">
                    <input type="text" placeholder="کد امنیتی:*" name="loginCode" id="loginCode" required>
                    <div class="changeIcon" onclick="changeLoginCode()">
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                </div>
                
                <div class="securityCode" id="loginSecurityCode"></div>
            </div>
            <button>ورود</button>
        </form>





        <div class="socialBtn" onmouseover="showAllSocialMedias()" onmouseleave="hideSocialMedias()" id="socialBtn">
            <div class="socials instagram" id="instagram">
                <img src="/Photos/insta.svg" alt="insta">
            </div>
            <div class="socials telegram" id="telegram">
                <img src="/Photos/tele.svg" alt="insta">
            </div>
            <div class="socials whatsapp">
                <img src="/Photos/whats.svg" alt="insta">
            </div>
        </div>
    </main>
{% endblock %} {% endcomment %}
{% block content %}
    <div class="mt-5 mb-5 container">
        <form method="post">
            {% csrf_token %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger m-2">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger m-2">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for field in form %}
                <div class="fieldWrapper p-2">
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="p-2"><input class="btn btn-primary" type="submit" value="ثبت"></div>
            <div class="text-align-center p-2">
                <p>حساب کاربری دارید ؟ <a style="text-decoration: none;" href="{% url 'user-login' %}">رفتن به حساب کاربری</a></p>
            </div>
        </form>
    </div>
{% endblock %}

{% block page_js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
