{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{ block.super }}
    <style>
        .active-page {
            background-color: #73082f !important;
            color : #fff !important;
        }
    </style>
{% endblock %}
{% block page_title%} Mahpen | Wallet {% endblock %}
{% block content %}

<main>
    <div class="userInfo container">
        <div class="userId">
            <p>{{user.full_name}}</p>
            <p>۹۸۰۰۰۰۰۰۰۰۰۰۰۰۰+</p>
        </div>
        <div class="userProfileImage">
            <img height="100px" width="100px" 
                src="{% if user.user_profile %}{% get_media_prefix %}{{user.user_profile}}{% else %}{% static 'images/profile.svg' %}{% endif %}" 
                alt="profile">
        </div>
    </div>


    <div class="userBtns container">
        <a href="{% url 'user-profile' %}"><button class="{% block active_profile %}{% endblock %}">پروفایل شخصی</button></a>
        <a href="{% url 'user-tutorials' %}"><button class="{% block active_tutorial %}{% endblock %}">دوره های شما</button></a>
        <a href="{% url 'user-wallet' %}"><button class="{% block active_wallet %}{% endblock %}">کیف پول</button></a>
    </div>

    {% block user_content %}
    {% endblock %}
</main>

{% endblock %}