{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">
{% endblock %}

{% block content %}

<main>
    <div class="successText">
        <p>پرداخت شما با موفقیت انجام شد</p>
        <i class="fa-solid fa-face-smile"></i>
    </div>
    <a class="text-decoration-none" href="{% url 'user-profile' %}">
        <div class="backButton">
            بازگشت به پروفایل شخصی
        </div>
    </a>
</main>

{% endblock content %}

{% block page_js %}
    {{block.super}}
    <script src="{% static 'js/success.js' %}"></script>
{% endblock %}