{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/doreha.css' %}">
{% endblock %}
{% block content %}
    <main>
        <div class="container mostSold">
            <h3>دوره های پرفروش</h3>
            <div class=" containerInside mostSoldTutorials">
                {% for course in most_sales%}
                    <a href="{% url 'course-detail' course.id %}">
                        <div class="product">
                            <div class="heading">
                                <img src="{% get_media_prefix%}{{course.image}}" alt="{{course.title}}">
                                <p>{{course.category.title}}</p>
                                <p class="percent">{{course.persian_off}}٪ تخفیف</p>
                            </div>
                            <div class="productCaption">
                                <h4 style="color: black;">{{course.title}}</h4>
                                <div class="nameAndPrice">
                                    <p style="color: black;" class="teacherName">{{course.teacher_name}}</p>
                                    <div class="prices">
                                        <p>{{course.get_raw_amount}} تومان</p>
                                        <p>{{course.persian_amount_without_off}} تومان</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </div>

        <div class="container newest">
            <h3>جدیدترین دوره ها</h3>
            <div class=" containerInside mostSoldTutorials">
                {% for course in newest_course %}
                    <a href="{% url 'course-detail' course.id %}">
                        <div class="product">
                            <div class="heading">
                                <img src="{% get_media_prefix%}{{course.image}}" alt="{{course.title}}">
                                <p>{{course.category.title}}</p>
                                <p class="percent">{{course.persian_off}}٪ تخفیف</p>
                            </div>
                            <div class="productCaption">
                                <h4 style="color: black;">{{course.title}}</h4>
                                <div class="nameAndPrice">
                                    <p style="color: black;" class="teacherName">{{course.teacher_name}}</p>
                                    <div class="prices">
                                        <p>{{course.get_raw_amount}} تومان</p>
                                        <p>{{course.persian_amount_without_off}} تومان</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </div>


        <div class="container all">
            <h3 class="mb-4">دوره های مهپن</h3>
            <div class="selections">
                <ul class="selectionHeading" id="grouping">
                    <li onclick="showGroupingDropDown()">دسته بندی <i class="fa-solid fa-angle-down" id="groupingAngle"></i></i></li>
                    <ul class="dropDown" id="dropDown">
                        {% for category in categotories %}
                            <li><a href="?category={{category.id}}&ordering={{request.GET.ordering}}">{{category.title}}</a></li>
                        {% endfor %} 
                    </ul>
                </ul>
                <ul class="selectionHeading" id="sorting">
                    <li onclick="showsortingDropDown()">ترتیب دوره ها<i class="fa-solid fa-angle-down" id="sortingAngle"></i></i></li>
                    <ul class="dropDown" id="sortingDropDown">
                        <li><a href="?category={{request.GET.category}}&ordering=id">جدیدترین ها</a></li>
                        <li><a href="?category={{request.GET.category}}&ordering=-id">قدیمی ترین ها</a></li>
                        <li><a href="?category={{request.GET.category}}&ordering=buy_counter">پرفروش ترین ها</a></li>
                    </ul>
                </ul>
            </div>

            {% for course in page_obj %}
                {% if forloop.counter0|divisibleby:"4" %}
                    <div class="containerInside allTutorials">
                {% endif %}
                <a href="{% url 'course-detail' course.id %}">
                    <div class="product">
                        <div class="heading">
                            <img src="{% get_media_prefix%}{{course.image}}" alt="{{course.title}}">
                            <p>{{course.category.title}}</p>
                            <p class="percent">{{course.persian_off}}٪ تخفیف</p>
                        </div>
                        <div class="productCaption">
                            <h4 style="color: black;">{{course.title}}</h4>
                            <div class="nameAndPrice">
                                <p style="color: black;" class="teacherName">{{course.teacher_name}}</p>
                                <div class="prices">
                                    <p>{{course.get_raw_amount}} تومان</p>
                                    <p>{{course.persian_amount_without_off}} تومان</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% if forloop.counter0|add:"1"|divisibleby:"4" or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}

                

            <div class="pages mb-5">
                {% if page_obj.has_previous %}
                    <a href="?category={{request.GET.category}}&ordering={{request.GET.ordering}}&page=1">&laquo; صفحه اول</a>
                    <a href="?category={{request.GET.category}}&ordering={{request.GET.ordering}}&page={{ page_obj.previous_page_number }}">صفحه قبلی</a>
                {% endif %}
                <span class="current">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?category={{request.GET.category}}&ordering={{request.GET.ordering}}&page={{ page_obj.next_page_number }}">صفحه بعدی</a>
                    <a href="?category={{request.GET.category}}&ordering={{request.GET.ordering}}&page={{ page_obj.paginator.num_pages }}">صفحه آخر &raquo;</a>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock content %}


{% block page_js %}
    {{block.super}}
    <script>
        let groupingCounter = 0
        const showGroupingDropDown = () => {
            if(groupingCounter == 0){
                document.getElementById('dropDown').style.visibility = "visible";
                document.getElementById('grouping').style.borderRadius = "20px 20px 0 0";
                document.getElementById('groupingAngle').style.transform = "rotate(180deg)";
                groupingCounter++;
                return;
            }
            if(groupingCounter == 1){
                document.getElementById('dropDown').style.visibility = "hidden";
                document.getElementById('grouping').style.borderRadius = "20px";
                document.getElementById('groupingAngle').style.transform = "rotate(0deg)";
                groupingCounter--;
                return;
            }
        }

        let sortingCounter = 0
        const showsortingDropDown = () => {
            if(sortingCounter == 0){
                document.getElementById('sortingDropDown').style.visibility = "visible";
                document.getElementById('sorting').style.borderRadius = "20px 20px 0 0";
                document.getElementById('sortingAngle').style.transform = "rotate(180deg)";
                sortingCounter++;
                return;
            }
            if(sortingCounter == 1){
                document.getElementById('sortingDropDown').style.visibility = "hidden";
                document.getElementById('sorting').style.borderRadius = "20px";
                document.getElementById('sortingAngle').style.transform = "rotate(0deg)";
                sortingCounter--;
                return;
            }
        }
    </script>
{% endblock page_js %}