{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/doreha.css' %}">
{% endblock %}
{% block content %}
{{courses}}
    <main>
        <div class="container mostSold">
            <h3>دوره های پرفروش</h3>
            <div class=" containerInside mostSoldTutorials">
                {% for course in most_sales%}
                    <a href="{% url 'course-detail' course.id %}">
                        <div class="product">
                            <div class="heading">
                                <img src="{% get_media_prefix%}{{course.image}}" alt="{{course.title}}">
                                <p>{{course.category.title}}</p>
                                <p class="percent">{{course.persian_off}}٪ تخفیف</p>
                            </div>
                            <div class="productCaption">
                                <h4 style="color: black;">{{course.title}}</h4>
                                <div class="nameAndPrice">
                                    <p style="color: black;" class="teacherName">{{course.teacher_name}}</p>
                                    <div class="prices">
                                        <p>{{course.get_raw_amount}} تومان</p>
                                        <p>{{course.persian_amount_without_off}} تومان</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </div>

        <div class="container newest">
            <h3>جدیدترین دوره ها</h3>
            <div class=" containerInside mostSoldTutorials">
                {% for course in newest_course %}
                    <a href="{% url 'course-detail' course.id %}">
                        <div class="product">
                            <div class="heading">
                                <img src="{% get_media_prefix%}{{course.image}}" alt="{{course.title}}">
                                <p>{{course.category.title}}</p>
                                <p class="percent">{{course.persian_off}}٪ تخفیف</p>
                            </div>
                            <div class="productCaption">
                                <h4 style="color: black;">{{course.title}}</h4>
                                <div class="nameAndPrice">
                                    <p style="color: black;" class="teacherName">{{course.teacher_name}}</p>
                                    <div class="prices">
                                        <p>{{course.get_raw_amount}} تومان</p>
                                        <p>{{course.persian_amount_without_off}} تومان</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </div>


        <div class="container all">
            <h3>دوره های مهبن</h3>
            <div class="selections">
                <ul class="selectionHeading" id="grouping">
                    <li onclick="showGroupingDropDown()">دسته بندی <i class="fa-solid fa-angle-down" id="groupingAngle"></i></i></li>
                    <ul class="dropDown" id="dropDown">
                        <li>راه اندازی کسب و کار</li>
                        <li>بازاریابی</li>
                        <li>فروش</li>
                        <li>مدیریت و رهبری</li>
                        <li>برندینگ</li>    
                    </ul>
                </ul>
                <ul class="selectionHeading" id="sorting">
                    <li onclick="showsortingDropDown()">ترتیب دوره ها<i class="fa-solid fa-angle-down" id="sortingAngle"></i></i></li>
                    <ul class="dropDown" id="sortingDropDown">
                        <li>جدیدترین ها</li>
                        <li>قدیمی ترین ها</li>
                        <li>پرفروش ترین ها</li>
                    </ul>
                </ul>
            </div>


            <div class=" containerInside allTutorials">
                
                <div class="product">
                    <div class="heading">
                        <img src="product1.png" alt="product1">
                        <p>برندینگ</p>
                        <p class="percent">۲۰٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>دوره جامع بازاریابی</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۰۰/۰۰۰ تومان</p>
                                <p>۱۶۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product2.png" alt="product2">
                        <p>کسب و کار</p>
                        <p class="percent">۱۰٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>دوره جامع بازاریابی</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۰۰/۰۰۰ تومان</p>
                                <p>۱۶۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product3.png" alt="product3">
                        <p>برندینگ</p>
                        <p class="notPercent"></p>
                    </div>
                    <div class="productCaption">
                        <h4>صفر تا صد اصول برندینگ</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p class="dontShow">000000</p>
                                <p>۱۸۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product1.png" alt="product3">
                        <p>مدیریت</p>
                        <p class="percent">۵٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>مدیریت و رهبری</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۲۰/۰۰۰ تومان</p>
                                <p>۲۰۹/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" containerInside allTutorials">
                
                <div class="product">
                    <div class="heading">
                        <img src="product1.png" alt="product1">
                        <p>برندینگ</p>
                        <p class="percent">۲۰٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>دوره جامع بازاریابی</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۰۰/۰۰۰ تومان</p>
                                <p>۱۶۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product2.png" alt="product2">
                        <p>کسب و کار</p>
                        <p class="percent">۱۰٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>دوره جامع بازاریابی</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۰۰/۰۰۰ تومان</p>
                                <p>۱۶۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product3.png" alt="product3">
                        <p>برندینگ</p>
                        <p class="notPercent"></p>
                    </div>
                    <div class="productCaption">
                        <h4>صفر تا صد اصول برندینگ</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p class="dontShow">000000</p>
                                <p>۱۸۰/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="heading">
                        <img src="product1.png" alt="product3">
                        <p>مدیریت</p>
                        <p class="percent">۵٪ تخفیف</p>
                    </div>
                    <div class="productCaption">
                        <h4>مدیریت و رهبری</h4>
                        <div class="nameAndPrice">
                            <p class="teacherName">حسین محمد نژاد</p>
                            <div class="prices">
                                <p>۲۲۰/۰۰۰ تومان</p>
                                <p>۲۰۹/۰۰۰ تومان</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pages">
                <a href="#">۱</a>
                <a href="#">۲</a>
                <a href="#">۳</a>
                <a href="#">۴</a>
                <p>...</p>
                <a href="3">صفحه آخر</a>
            </div>
        </div>
    </main>

{% endblock content %}


{% block page_js %}
    {{block.super}}
    <script>
        let groupingCounter = 0
        const showGroupingDropDown = () => {
            if(groupingCounter == 0){
                document.getElementById('dropDown').style.visibility = "visible";
                document.getElementById('grouping').style.borderRadius = "20px 20px 0 0";
                document.getElementById('groupingAngle').style.transform = "rotate(180deg)";
                groupingCounter++;
                return;
            }
            if(groupingCounter == 1){
                document.getElementById('dropDown').style.visibility = "hidden";
                document.getElementById('grouping').style.borderRadius = "20px";
                document.getElementById('groupingAngle').style.transform = "rotate(0deg)";
                groupingCounter--;
                return;
            }
        }

        let sortingCounter = 0
        const showsortingDropDown = () => {
            if(sortingCounter == 0){
                document.getElementById('sortingDropDown').style.visibility = "visible";
                document.getElementById('sorting').style.borderRadius = "20px 20px 0 0";
                document.getElementById('sortingAngle').style.transform = "rotate(180deg)";
                sortingCounter++;
                return;
            }
            if(sortingCounter == 1){
                document.getElementById('sortingDropDown').style.visibility = "hidden";
                document.getElementById('sorting').style.borderRadius = "20px";
                document.getElementById('sortingAngle').style.transform = "rotate(0deg)";
                sortingCounter--;
                return;
            }
        }
    </script>
{% endblock page_js %}