{% extends 'blog/base.html' %}
{% load static %}
{% block page_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/shoppingcart.css' %}">
{% endblock %}
    
{% block content %}
    <main class="mb-5 container-fluid">
        <h1>لیست سبد خرید</h1>
        <table id="table">
            <tr class="tableHead">
              <th>نام دوره</th>
              <th>قیمت دوره</th>
              <th>قیمت دوره با تخفیف</th>
            </tr>
            {% for course in card.courses.all %}
                <tr>
                    <td>
                        {{course.title}}
                        <form style="display: inline;" method="post" action="{% url 'del-course-from-card' course.id %}">
                            {% csrf_token %}
                            <input class="btn btn-danger btn-sm mt-2 mb-2" type="submit" value="حذف از سبد کالا" />
                        </form>
                    </td>
                    <td>{{course.persian_amount_without_off}}</td>
                    <td>{{course.get_raw_amount}}</td>
                </tr>
            {% endfor %}
            {% if not card.courses_count == 0 %}
                    <tr>
                        <td>مجموع</td>
                        <td>{{card.persian_amount_without_off}}</td>
                        <td>{{card.persian_amount}}</td>
                    </tr>
                    
                </table>
                <div class="counting">
                    <div class="discount">
                        <p>کد تخفیف</p>
                        <input class="m-4" type="text" id="discountCode">
                        <button>ثبت</button>
                    </div>
                    <div class="buy">
                        <p>قیمت نهایی (تومان)</p>
                        <div class="finalPrice m-4">......</div>
                        <button onclick="showPage()">پرداخت</button>
                    </div>
                </div>

                <div class="paymentPage" id="paymentPage" onclick="hidePage()" >
                    <div class="paymentMethods">
                        <button class="onlinePayment">برداخت آنلاین</button>
                        <button class="walletPayment">برداخت از کیف بول</button>
                    </div>
                </div>
            {% else %}
                </table>
                <p class="mt-3">سبد خرید شما خالی است.</p>
                <a class="btn btn-primary w-25" href="{% url 'course-list' %}" role="button">ادامه مشاهده محصولات</a>
            {% endif %}
            

    </main>
{% endblock content %}

{% block page_js %}
    {{block.super}}
    <script src="{% static 'js/shoppingcart.js' %}"></script>
{% endblock %}